/* custom style */

.content-wrapper {
    min-width: fit-content;
    min-width: -moz-fit-content;
}


.th-xs {
    width: 10px !important;
}
.help-block {
    font-size: small;
}

.form-control {
    border-radius: 4px;
    /*box-shadow: none;
    border-color: #d2d6de;*/
}

/*.select2-container .select2-selection--single .select2-selection__rendered {
     margin-top: 0px !important; 
}*/

.select2-container--krajee .select2-selection__clear {
    line-height: 1;
}

.text-mono {
    font-family: Consolas !important;
}

th {
    background-color: #fafafa;
}
.grid-view .table {
    border: 1px solid #f4f4f4 !important;
}
.grid-view th {
    border-top: 1px solid #f4f4f4 !important;
}
.detail-view {
    border: 1px solid #eee;
}
.detail-view th {
    width: 280px;
}
/*.box-body > .table {
    margin-bottom: 20px;
}*/

.main-header .logo {
    font-size: 20px;
    /*line-height: 50px;*/
    text-align: center;
    /*font-family: 'Segoe UI', 'Helvetica Neue', 'Arial', sans-serif !important;*/
    font-weight: 300;
    line-height: 20px;
    overflow: visible;
}

.logo-lg {
    padding-top: 3px;
}
.logo-mini {
    line-height: 50px;
}

.main-header {
    box-shadow: 0 0 2px;
}
.main-sidebar {
    box-shadow: 0 0 0px;
}
.main-footer {
    background-color: #d8e1ed;
    border-top: none;
}

.modal-content {
    border-radius: 4px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    margin-top: 0px;
}

.input-group-addon:first-child {
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
}
.input-group-addon:last-child {
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}

.highcharts-point {
    opacity: 0.9;
}

/*.box-body, .tab-panel {
    overflow-y: auto;
}*/

/* prevent .box-body y-scroll */
.form-horizontal .form-group {
    margin-right: 0px;
    margin-left: 0px;
}

.btn-text-success {
    color: #3c763d !important;
}
.btn-text-info {
    color: #00c0ef !important;
}
.btn-text-warning {
    color: #f39c12 !important;
}
.btn-text-danger {
    color: #dd4b39 !important;
}
.pagination {
    margin-top: 0px;
}
.btn-lg {
    border-radius: 6px;
}

.treeview-menu a {
    font-size: small !important;
}

.form-panel {
    padding: 10px 10px !important;
    background: #fafafa;
    border-radius: 4px;
    border: 1px solid #f4f4f4;
}

.img-circle, .user-image {
     box-shadow: 0 0 1px;
}


/*inertia.001*/
/* .main-header .navbar,
.main-header .logo {
    background: #0d5884 !important;
} */
.text-wrap {
    white-space: normal !important;
}
.skin-blue-light .main-header .navbar .sidebar-toggle:hover {
    background-color: rgba(0,0,0,0.1);
}
.panel-no-border {
    margin-bottom: 0px !important;
    -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, .05);
    box-shadow: 0 0px 0px rgba(0, 0, 0, .05);
}
.panel-no-border .kv-panel-before, 
.panel-no-border .panel-footer {
    border:none !important;
}
.panel-no-border .panel-footer {
    background:none !important;
    padding: 10px 0px;
}
.panel-no-border .kv-grid-container {
    padding: 0 0px;
}
.kv-panel-before {
    padding: 0px 0px 10px;
}
.box-body .box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
}
.content-header h1,
.sidebar-menu a {
    font-weight: lighter !important;
}
.box-header, .box-body {
    padding-left: 10px;
    padding-right: 10px;
}
.table-form td {
    vertical-align: top;
}
.table-form td:not(:last-child) {
    padding-right: 15px;
}
.row {
    margin-right: -10px;
    margin-left: -10px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    /*position: relative;
    min-height: 1px;*/
    padding-right: 10px;
    padding-left: 10px;
}

.action-column {
    width: 1px;
    white-space: nowrap !important;
}
.serial-column {
    width: 1px;
    white-space: nowrap !important;
}

.table-chart-wrapper {
    display: inline-block;
    width: auto;
    padding:5px;
    background: #f4f4f4;
    border-radius: 4px;
}
.table-chart-wrapper .form-group {
    margin-bottom: 5px;
}
.table-chart-wrapper label {
    margin-bottom: 2px;
}
.table-chart-wrapper .btn {
    margin-top: 20px;
}
.table-chart td {
    padding: 2px;
}

.kv-detail-container {
    background: #fcfcfc;
}


/*CSS for printing*/
@media print {
    body * {
        visibility:hidden;
    }
    a[href]:after {
        content: none !important;
    }
    .printable, .printable * {
        visibility:visible;
    }
    /* aligning the printable area */
    .printable {
        position: absolute;
      width: 90%;
        top:20px !important;
        /*font-size:70%;*/
        -webkit-print-color-adjust: exact;
    }
    /*.printable li {
        font-size:70%;
    }*/
    /*.printable table th {
        background: lightblue;
        -webkit-print-color-adjust: exact;
        padding:2px !important;
    }
    .printable table td {
        padding:2px !important;
    }*/
}


div.accordion
{
    display: block;
    width: 100%;
    margin: 0 auto;
    background-color: #888;
    overflow: auto;
    border-radius: 5px;
    box-shadow: 0 3px 3px rgba(0,0,0,0.3);
    white-space: nowrap;
}

div.accordion div.section
{
    position: relative;
    display: block;
    float: left;
    width: 2em;
    height: 32em;
    margin: 0.5em 0 0.5em 0.5em;
    color: #333;
    background-color: #333;
    overflow: hidden;
    border-radius: 3px;
}

div.accordion div.section h2
{
    position: absolute;
    font-size: 1em;
    font-weight: bold;
    width: 32em;
    height: 2em;
    top: 32em;
    left: 0;
    text-indent: 1em;
    padding: 0;
    margin: 0;
    color: #ddd;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

div.accordion div.section .cabinet-shelf-title
{
    display: none;
}


div.accordion div.section .cabinet-shelf
{
    display: none;
    background: #aaa; 
    margin-bottom: 10px; 
    border: 1px solid #ddd; 
    overflow-x: scroll; 
    height:auto; 
    min-height: 75px; 
    box-shadow: 
    inset 0 0 10px rgba(0,0,0,0.5); 
    padding-top: 12px;
}

div.accordion div.section:target .cabinet-shelf,
div.accordion div.section:target .cabinet-shelf-title
{
    display: block;
}

div.accordion div.section h2 a
{
    display: block;
    width: 100%;
    line-height: 2em;
    text-decoration: none;
    color: inherit;
    outline: 0 none;
}

div.accordion div.section:target
{
    width: 50em;
    padding: 0 1em;
    color: #fafafa;
    background-color: #444;
    border: 2px solid #333;
}

div.accordion div.section:target h2
{
    position: static;
    font-size: 1.3em;
    text-indent: 0;
    color: #fafafa;
    font-weight: bold;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    padding-top: 10px;
}

div.accordion div.section
{
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.cabinet-box {
    height:50px; 
    border: 1px solid #ccc; 
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    padding:5px; 
    cursor:pointer; 
    background: linear-gradient(to right, #ddd , #fff); 
    font-family: monospace;
    text-shadow: 0 0 1px rgba(0,0,0,0.2)
}

.cabinet-box:hover {
    background: linear-gradient(to right, #ccc , #eee); 
}