.kv-panel-before {
    padding: 0;
    padding-bottom: 10px;
}

.form-control {
	border-radius: 4px;
}

.grid-view td {
    white-space: normal;
}

.grid-view .panel {
	margin-bottom: 0;
	box-shadow: none;
}

.grid-view .panel-footer {
	border-top: none;
}

.skin-purple-light .main-header .navbar, 
.skin-purple-light .main-header .logo {
    background-color: #2d42b7;
    color: yellow;
}

.main-header .navbar .dropdown-menu li a {
    color: #333;
}
.main-header .navbar .dropdown-menu li a:hover {
    color: #222;
}
.navbar-nav > .user-menu > .dropdown-menu {
    width: auto;
}

.box {
    border-radius: 3px !important;
}

.alert-info {
    color: #31708f !important;
    background-color: #d9edf7 !important;
    border-color: #bce8f1 !important;
}

.alert-success {
    color: #3c763d !important;
    background-color: #dff0d8 !important;
    border-color: #d6e9c6 !important;
}

.alert-warning {
    color: #8a6d3b !important;
    background-color: #fcf8e3 !important;
    border-color: #faebcc !important;
}

.alert-danger {
    color: #a94442 !important;
    background-color: #f2dede !important;
    border-color: #ebccd1 !important;
}

td.action-column  a.btn-xs.fa {
    line-height: 1.3 !important;
    margin-top: 2px;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    /* border-top: 1px solid #f4f4f4; */
    border-top: 1px solid #eee;
}